*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: inline-block;
}

html {
  font-family: 'Bai Jamjuree', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    font-style: normal;
}

body {
    background-color: #F2F1EF;
    scroll-behavior: smooth;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
.section1{
    position: relative;
    padding: 40px 5% 20px;
}

div {
    display: block;
}
body {
    background-color: #f2f1ef;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #161513;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

  
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bai Jamjuree';
    color: #161513;
    font-size: 56px;
    line-height: 64px;
    font-weight: 400;
    letter-spacing: -0.01em;
  }
  
  h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #161513;
    font-size: 48px;
    line-height: 56px;
    font-weight: 400;
    letter-spacing: -0.03em;
  }
  
  h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
    color: #161513;
    font-size: 40px;
    line-height: 48px;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  
  h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.02em;
  }
  
  h6 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }
  
  p {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  /* ...........flex......*/
.display {
    display: inline-block;
  }
  .flex-1 {
    flex: 1;
  }
  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .flex-start {
    display: flex;
    justify-content: flex-start;
  }
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.column {
  display: flex;
  flex-direction: column;
}
.items-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.items-stretch { 
display: flex;
align-items: stretch;
}
.row {
  display: flex;
  flex-direction: row;
}
.items-start {
  display: flex;
align-items: flex-start;
}
.justify-stretch {
  display: flex;
  justify-items: stretch;
}
.items-end {
  display: flex;
  align-items: flex-end;
}
  /*.........gap.........*/
  .gap-30 {
    gap: 32px;
  }
  .gap-50 {
    gap: 50px;
  }
  .gap-16 {
    gap: 16px;
  }
  .gap-24 {
    gap: 24px;
  }
  .gap-100 {
    gap: 100px;
  }
  .gap-46 {
    gap: 46px;
  }
  /*..........grid..........*/
  .grid {
    display: grid;
  }
  /*..........................*/

.navigation-left {
  width: 50%;
  min-height: 60px;
}

.up-level {
  padding-top: 32px;
  padding-bottom: 32px;
}
.center-level {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid ;
}
.down-level {
  padding-top: 30px;
  padding-bottom: 30px;
}

.btn {
  font: inherit;
  min-width: 170px;
  text-align: center;
  border: 2px solid transparent;
  line-height: 16px;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 430px;
  background-color: transparent;
  border-color: #161513;
}
.nav-link {
  border-bottom: solid 1px;
}

.title {
    grid-column-gap: 44px;
    grid-template-columns: 1.2fr 1fr;
    grid-template-rows: auto;
}

.wrapper-one {
    margin-top: 4px;
    margin-bottom: 4px;
}
.header-detail {
  margin-top: 35px;
  margin-bottom: 40px;
}
.icon-star-title {
  margin-right: 12px;
  margin-left: 12px;
}
.small-icon {
    margin-right: 8px;
    margin-left: 8px;
}
.btn-more {
    display: flex;
}
.btn-black {
  padding: 13px 33px;
  min-height: 48px;
  min-width: 172px;
  border-style: solid;
  border-width: 1px;
  border-color: #161513;
  background-color: #161513;
  transition: all 300ms ease;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  font-weight: 400;
}
.btn-white {
  min-height: 48px;
  min-width: 138px;
  padding: 13px 33px;
  border-style: solid;
  border-width: 1px;
  border-color: #161513;
  background-color: transparent;
  transition: all 300ms ease;
  color: #161513;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  font-weight: 400;
}
 .down-level {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 150px;
  margin-bottom: 150px;
  color: white;
  background-color: #161513;
  border-radius: 0px;
  transform: rotate(-4.93deg);
  width: calc(100% + 4rem);
  position: relative;
  left: -2rem;
}


/*......................................................*/
.container.small {
  max-width: calc(1060px + 2rem)
}

.about-1 {
  padding-top: 13px;
  padding-bottom: 122px;
  padding-bottom: 179px;
  max-width: 351px;
}
.about-2 {
  max-width: 598px;
  padding-bottom: 36px;
  padding-top: 20px;
}
.about-3 {
  max-width: 598px;
  padding-bottom: 27px;
}
.name {
  margin-bottom: 24px;
}
.header-small-icon {
  margin-right: 8px;
  margin-left: 8px;
}

.paragraph-large {
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.detail-small {
  margin-top: 0px;
  margin-bottom: 8px;
  color: #e94d35;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

/*.........................................*/
.section-card {
  position: relative;
  padding: 60px 5%;
}
.amount {
    padding: 24px 0;
    border-width: 2px;
    border-color: #161513;
    text-align: center;
}
.number-large {
  font-size: 56px;
  line-height: 64px;
  font-weight: 400;
}
.text-under {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.amount-black {
   padding-top: 21px;
    border-width: 2px;
    border-color: #161513;
    background-color: #161513;
    color: #fff;
    text-align: center;
}
.border {
  border-style: solid;
  border-width: 2px;
  border-color: #161513;
}
/*..............................................*/

.icon-star {
  margin-bottom: 22px;
}
.award {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 17px;
  padding-bottom: 61px;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.08em;
}
.margin-9 {
  margin-top: 9px;
}

.number-block {

  margin-right: 24px;
  background-color: #e94d35;
  color: #fff;
  font-weight: 400;
}
.paragraph{
  margin-top: 7px;
  margin-bottom: 9px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  margin-left: 18px;
  margin-right: 19px;
}

.portfolio-image {
  width: 100%;
  max-width: 460px;
}
.art-direction {
  margin-bottom: 32px;
  padding: 4px 12px;
  background-color: #e94d35;
}
.portfolio-link {
  margin-top: 48px;
  color: #161513;
  font-size: 20px;
  line-height: 32px;
}
.margin-44 {
  margin-left: 44px;
}
.margim-154 {
  padding-right: 154px;
}
.portfolio-text {
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.08em;
}
.margin-95 {
  margin-top: 95px;
}
.cardbox {
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 40px;
  grid-column-gap: 40px;
}
.card {
  display: block;
  width: 100%;
  padding: 34px;
  border-style: solid;
  border-width: 2px;
  border-color: #161513;
  color: #161513;
}
.margin-34 {
  margin-bottom: 34px;
}
.text-card {
  font-size: 18px;
line-height: 32px;
margin-top: 24px;
}
.cardbox-logo {
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-row-gap: 32px;
  grid-column-gap: 32px;
  text-align: center;
}
.article-icon {
  position: absolute;
  left: auto;
  top: auto;
  right: -140px;
  bottom: 220px;
  width: 240px;
  height: 240px;
}
.articles {
  border: 2px solid #161513;
  width: 100%;
  padding-left: 32px;
    padding-bottom: 13px;
    padding-right: 53px;
}

.lines {
  border: 2px solid #161513;
  width: 100%;
  padding-left: 34px;
  padding-right: 54px;
  padding-top: 38px;
  padding-bottom: 39px;
}
.articles-lines{
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 40px;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.red-text-detail{
  color: #e94d35;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.08em;
}
.red-text-article{
  grid-column-gap: 14px;
}
.button-article {
  width: 100%;
  margin-top: 94px;
  padding: 12px 24px;
  border-style: solid;
  border-width: 1px;
  border-color: #161513;
  background-color: #161513;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
}
.section-email {
  padding: 60px;
  background-color: #e6e3de;
}

.form-email {
  width: 100%;
  max-width: 518px;
  margin-bottom: 0px;
}
.text-form {
  min-height: 56px;
  margin-right: 24px;
  margin-bottom: 0px;
  padding: 16px 24px;
  border-style: solid;
  border-color: #161513;
  background-color: transparent;
  width: 354px;
height: 56px;
left: calc(50% - 354px/2 - 82px);
top: calc(50% - 56px/2 - 0.44px);
}

.button-form {
  min-height: 56px;
  min-width: 140px;
  padding: 16px 24px;
  background-color: #131416;
  color: #f2f1ef;
  font-size: 23px;
  text-align: center;
}

input::placeholder {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  color: #161513;
}

/*.............................................*/
.section-footer {
  padding: 66px;
  background-color: #161513;
}

.footer {
  width: 100%;
  grid-row-gap: 48px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.text-block {
  color: #fff;
  font-size: 16px;
line-height: 24px;
text-align: center;
}

.title-gray {
  color: #F2F1EF;

}
.grid-footer-social {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}
.social-link {
  width: 40px;
  height: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #969186;
  border-radius: 24px;
}

