
a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}
h2 { 
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    text-align: center;
    color: #FFFFFF;
}

.cardbox {
    position: absolute;
    width: 1100px;
    height: 800px;
    background: #C4C4C4;
}
.card1 {
    width: 1000px;
    height: 200px;
    background: #E6E6E6;
    margin: 50px;
}
.card2 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: left;
    margin-right: 15px;
}
.card3 {
    width: 200px;
    height: 200px;
    background: #FC8F8F;
    float: right;
    margin-left: 15px;
}
.card4 {
    width: 100px;
    height: 100px;
    background: #FC8F8F;
    float: right;
    margin-left: 15px;
}

