body {
    text-align: center;
    font-size: 20px;
    padding: 2rem;
}

.col1 {
    color: #7d5951;
}

.col2 {
    color: #5e1f13;
}

h3 {
    color: #3d241f;
}

.bold {
    font-style: oblique
}


li {
    list-style-type: none;
}
p label {font-weight: bold;}
p {
    font-variant: small-caps
}
#mail1 {background-color: antiquewhite;}